doctype html
html
  head
    meta('name'='viewport',content='width=device-width,initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
  body
    .navbar-default.navbar.navbar-fixed-top
      .container 
        .navbar-header 
          a.navbar-brand('/') Mekanbul
          button.navbar-toggle(type='button',data-toggle='collapse',data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse 
          ul.nav.navbar-nav 
            li
              a(href='/hakkinda') Hakkinda
  .container 
    block content
    footer
     .col-12 
      small &copy; Yusuf Dagdeviren 2022
  
  script(src='/javascript/jquery-3.6.1.min.js')
  script(src='/bootstrap/js/bootstrap.min.js')